.btn {
  border: 0;
  margin: 3vw 0;
  min-width: 11vw;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  padding: 1vw 3vw;
  &-yellow {
    color: #6d1c00;
    background: linear-gradient(180deg, rgba(252, 214, 146, 1) 0%, rgba(244, 188, 120, 1) 48%);
    &:hover {
      color: #fff;
      background: linear-gradient(180deg, rgba(250, 178, 52, 1) 0%, rgba(217, 108, 44, 1) 100%);
    }
  }
  &-orange {
    color: #fff;
    background: linear-gradient(180deg, rgba(250, 178, 52, 1) 0%, rgba(217, 108, 44, 1) 100%);
    &:hover {
      color: #6d1c00;
      background: linear-gradient(180deg, rgba(252, 214, 146, 1) 0%, rgba(244, 188, 120, 1) 48%);
    }
  }
  &-blue {
    color: #fff;
    background: linear-gradient(180deg, rgba(64, 170, 216, 1) 0%, rgba(37, 115, 174, 1) 100%);
    &:hover {
      color: #6d1c00;
      background: linear-gradient(180deg, rgba(252, 214, 146, 1) 0%, rgba(244, 188, 120, 1) 48%);
    }
  }
}

.awardSwiper {
  width: 100%;
  height: 100%;
  background: #154d9c8c;
  border-radius: 100px;
  box-shadow: 0px -1px 1px 1px #d1d1d166;
  .swiper-slide {
    color: #000;
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
    img {
      display: block;
      object-fit: cover;
      // filter: grayscale(1);
      &:hover {
        transform: scale(1.1);
        // filter: none;
      }
    }
  }
}
a,
button {
  cursor: pointer;
}
.pc {
  display: block;
}
.m {
  display: none;
}
body {
  margin: auto;
  &::-webkit-scrollbar {
    width: 0.1rem;
    height: 1.3rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 5px;
  }
}

.downloadBtn {
  &:hover::before {
    transform: translate(1.5vw, -10.5vw);
    background: url(../img/general/app_qrcode.png) no-repeat;
    background-size: contain;
    margin: auto;
    width: 10vw;
    height: 10vw;
    position: absolute;
    content: "";
  }
}

.title {
  font-size: 3vw;
  margin: 3vw 1vw;
  font-weight: bold;
  text-align: center;
  span {
    color: #fdd894;
  }
}
.text {
  font-size: 1.4vw;
}
#hd-box {
  font-family: "Arial";
  color: #fff;
  .bg {
    background: url(../img/en/bg-1.png) no-repeat center top;
    background-size: cover;
    height: 210vw;
    &.my {
      background: url(../img/my/bg-1.png) no-repeat center top;
      background-size: cover;
    }
    .navbar {
      width: 100%;
      padding: 2vw 0;
      display: flex;
      flex-flow: row;
      position: absolute;
      align-items: flex-end;
      &-brand {
        height: 100%;
        margin: 1vw 2vw;
        img {
          width: 25vw;
        }
      }
      &-nav {
        list-style: none;
        display: flex;
        padding: 0;
        .nav-link {
          margin: 0 2vw;
          color: #e0eeff;
          text-decoration: none;
          &:hover {
            color: #f4bf7b;
          }
        }
      }
      &-toggler {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        background: #0000007a;
        padding: 2vw;
        height: 6vw;
        width: 7vw;
        &:hover {
          background: #00000040;
        }
      }
    }
    .banner {
      height: 40vw;
    }
    .mainBlock {
      display: flex;
      flex-flow: column;
      align-items: center;
      main {
        border: 1px solid #88867a;
        border-radius: 10px;
        width: 73vw;
        height: 159vw;
        background: url(../img/general/bg-2.png) no-repeat center top -2px;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-flow: column;
        align-items: center;
        .why .content {
          background: url(../img/general/why-gold.png) no-repeat center top;
          background-size: contain;
          width: 65vw;
          height: 62vw;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          align-items: center;
          align-content: space-between;
          .text {
            width: 23vw;
            padding: 3vw 0vw;
            span {
              color: #fdd894;
            }
          }
        }
        .steps {
          .content {
            display: flex;
            justify-content: center;
            .block {
              display: flex;
              align-items: flex-start;
              .stepBlock {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 16vw;
                .imgBlock {
                  // perspective: 1000px;
                  width: 15vw;
                  height: 15vw;
                  position: relative;
                  transition: transform 0.5s ease-in-out;
                  transform-style: preserve-3d;
                  .img,
                  .img-hover {
                    width: 15vw;
                    position: absolute;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                  }
                  .img-hover {
                    transform: rotateY(180deg);
                  }
                  &:hover {
                    transform: rotateY(180deg);
                  }
                }
                .text {
                  text-align: center;
                }
              }
              .arrow {
                top: 6vw;
                position: relative;
                width: 1.5vw;
                height: auto;
              }
            }
          }
        }
        .trade {
          .content {
            height: 19vw;
            display: flex;
            .btn-yellow {
              margin-left: 2.5vw;
              margin-top: 0;
            }
            .phone {
              width: 25vw;
              height: 16vw;
              img {
                height: 100%;
                margin: auto;
              }
            }
          }
        }
        .awards {
          border: 1px solid #fff;
          border-radius: 100px;
          padding: 0.8vw;
          width: 80%;
          height: 7vw;
          .awardSwiper .swiper-slide img {
            width: 5vw;
            height: 5vw;
          }
        }
      }
    }
  }
  .riskWarning {
    background: #082447;
    padding: 5vw 0 20vw 0;
    .content {
      width: 70%;
      margin: auto;
      text-align: center;
    }
  }
  .bottom {
    background: linear-gradient(180deg, rgba(19, 74, 148, 1) 0%, rgba(7, 51, 96, 1) 100%);
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .expand {
    margin-bottom: 4vw;
  }
  .expand2 {
    margin-bottom: 4vw;
  }
}
@media screen and(max-width:768px) {
  .downloadBtn {
    &:hover::before {
      background: unset;
    }
  }
  .btn {
    padding: 2vw 5vw;
    font-size: 3vw;
  }
  .title {
    font-size: 5vw;
  }
  .text {
    font-size: 3vw;
  }
  .pc {
    display: none;
  }
  .m {
    display: block;
  }
  #hd-box {
    .bg {
      height: 540vw;
      background: url(../img/en/bg.png) no-repeat center top;
      background-size: cover;
      &.my {
        background: url(../img/my/bg.png) no-repeat center top;
        background-size: cover;
      }
      .navbar {
        padding: 0;
        align-items: unset;
        &.responsive {
          background: #082546;
          flex-flow: column;
          .navbar-collapse {
            display: block;
          }
          .navbar-toggler {
            background: transparent;
          }
        }
        &-brand {
          margin: 5.5vw auto 0 auto;
          width: 28vw;
        }
        &-collapse {
          display: none;
        }
        &-nav {
          flex-direction: column;
          align-items: center;
          .nav-item {
            width: 90%;
            text-align: center;
            font-weight: bold;
            padding: 3vw 0;
            border-top: 1px solid #2c4667;
          }
        }
        &-toggler {
          display: flex;
          padding: 2vw;
          margin: 2vw;
          background: #0000007a;
        }
      }
      .banner {
        height: 88vw;
      }
      .mainBlock {
        main {
          border: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          .why {
            margin: 6vw 0;
            .content {
              width: 100%;
              height: 91vw;
              margin: 4vw 0;
              background: transparent;
              .text {
                width: 34vw;
              }
            }
          }

          .steps {
            .content {
              flex-wrap: wrap;
              .block {
                width: 41vw;
                margin: 2vw;
                .stepBlock {
                  width: 37vw;
                  .imgBlock {
                    width: 35vw;
                    height: 35vw;
                    .img,
                    .img-hover {
                      width: 35vw;
                    }
                  }
                }
                .arrow {
                  top: 17vw;
                  width: 7vw;
                }
              }
              .block:nth-of-type(1) {
                .arrow {
                  left: 3vw;
                }
              }
              .block:nth-of-type(2) {
                flex-direction: column;
                align-items: center;
                .arrow {
                  top: 0;
                  transform: rotate(90deg);
                }
              }
              .block:nth-of-type(3) {
                order: 4;
                justify-content: center;
                .arrow {
                  transform: rotate(180deg);
                  position: relative;
                  left: -43vw;
                }
              }
            }
          }

          .trade {
            .content {
              height: 100%;
              flex-direction: column;
              .list {
                display: flex;
                flex-direction: column;
                ul {
                  margin: 2vw 0;
                  .text {
                    font-size: 3.5vw;
                    margin-bottom: 2vw;
                  }
                }
              }
              .btn-yellow {
                margin: 3vw 0;
              }
              .phone {
                height: 80vw;
              }
            }
          }

          .awards {
            height: 17vw;
            .awardSwiper .swiper-slide img {
              width: 11vw;
              height: 11vw;
            }
          }
        }
      }
    }

    .riskWarning {
      .content {
        width: 90%;
      }
    }

    .expand {
      margin-bottom: 20vw;
    }
    .expand2 {
      margin-bottom: 20vw;
    }
  }
}
